.header {
    height: 83px;
    width: 1716px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navigation-flex {
    width: 1716px;
    height: 72px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    color: #3D37F1;
    margin-right: 80px;
    /* width: 424px;
    margin-left: 667px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 135px;
    color: #3D37F1;
    font-size: 23px;
    padding-left: 132px;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}
.logo::after {
    content: "UiExpert";
    font-size: 23px;
    color: #4B647E;
    margin-left: 9px;
    font-weight: lighter;
    font-family: 'Lato Light', sans-serif;
}
.first-section {
    width: 1719px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-section {
   width: 600px; 
   /*height: 535px;*/
   margin-top: 391px;
   margin-left: 132px;

}
.button {
    width: 263.67px;
    height: 76.77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40px;
    background-color: #3D37F1;
    border-color: #ECE3E3;
    margin-top: 83.9px;
    
}
.hand {
    margin-left: 43px ; 
    margin-right: 27px; 
}
span {
    width: 106px;
    height: 32px;
    font-size: 23px;
    color: #FFFFFF;
    justify-content:center;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
}
.text1 {
    width: 600px;
    height: 203px;
    font-size: 78px;
    font-style: bold;
    color: #534D4D;
    
}
.text2 {
    width: 600px;
    height: 103px;
    font-size: 22px;
    font-style: bold;
    color: #534D4D;
    margin-top: 42px;
}
.right-section {
    background-image: url('../image/main.jpg');
    width: 800px;
    height: 526px;
    background-size: cover;
    display: flex;
    margin-top: 373px;
    margin-right: 80px;
}


.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 48px;
}
/*.nav-li:last-child {
    margin-right: 0;
}*/

.block {
    width: 250px;
    height: 250px;
}


/* second section */
.second-section {
    width: 1920px;
    height: 1443.67px;
    margin: 0 auto;
    background-color: #FBFCFD;
    
}
.text-box {
    width: 507px;
    margin: 0 auto;
    margin-top: 230px;
}
.service {
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}
.provide {
    font-size: 28px;
    color: #5A5454;
    font-family: 'Lato Regular', sans-serif;
    text-align: center;
    margin-top: 15px;
}
.text4 {
    font-size: 18px;
    color: #747474;
    width: 712px;
    height: 85px;
    margin-bottom: 67px;
    text-align: center;
    
}
.text-box {
    width: 766px;
    height: 215px;

}
.wraper-box {
    width: 1169px;
    height: 962px;
    display: flex;
    margin-top: 55px;
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 95px;
}
.row-box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 1176px;
    margin: 0 auto;
    align-content: space-between;
}
.block {
    width: 370px;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block:nth-child(1){
    background-image: linear-gradient(0deg, #EFB274, #F2B475);
    margin-bottom: 60px;
 }
 .block:nth-child(2){
    background-image: linear-gradient(0deg, #259DBC, #3FE6E1);
    margin-bottom: 60px;
 }
 .block:nth-child(3){
    background-image: linear-gradient(0deg, #463864, #654F98);
    margin-bottom: 60px;
 }
 .block:nth-child(4){
    background-image: linear-gradient(0deg, #0F66C6, #387FCF);
 }
 .block:nth-child(5){
    background-image: linear-gradient(0deg, #635DDB, #9693F0);
 }
 .block:nth-child(6){
    background-image: linear-gradient(0deg, #C15A5D, #F47980);
 }
 .text5 {
    width: 328px;
    margin: 0px 21px 23px 21px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
 }

.read-more {
    width: 131px;
    height: 45px;
    background-color: none;  
    border: 2px solid #ECE3E3;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more:hover {
    background-color: white;
    color: #4B647E;

} 
.read {
    font-size: 15px;
    color: #FFFFFF;
} 

.font1{
    font-family: 'Roboto';
}

.font2{
    font-family: 'Lato';
}
.ui-text1 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
.ui-text2 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
.ui-text3 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
.ui-text4 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
.ui-text5 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
.ui-text6 {
    width: 328px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 21px 23px 21px;
}
